<main class="search-main">
    <div id="container">
        <div data-url='<%=url%>' id="putTheWidgetHere"></div>
        <!-- <script type="text/javascript">
        SC.oEmbed('<%=url%>', {
            element: document.getElementById('putTheWidgetHere')
        });
        </script> -->
    </div>
</main>