<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
  <main class="login-main">
    <form class="login-form" action="/home" method="post">
      <input class="input" type="text" name="username" value="" placeholder="username">
      <input class="input" type="password" name="password" value="" placeholder="password">
      <a class="btn btn-login" href="http://localhost:3000/spotify/login">Login</a>
    </form>
  </main>
</body>
</html>
