<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>

<body>
  <main class="search-main">
    <div id="container">
      <% data.forEach((url)=>{ %>
        <iframe src="https://www.youtube.com/embed/<%=url%>">
        </iframe>
      <% }) %>
    </div>
  </main>
</body>
</html>
<style>
iframe{
    width: 100%;
}
</style>