<div id="tickets" class="ticketmaster">
  <header class="padding ticketmaster-header">
    <h2 class="ticketmaster-title">Get your tickets now</h2>
    <p>Ondertitel</p>
  </header>
  <ul>
    <li><img class="ticketmaster-img" src="/images/profile-imgs/ticketmaster/kendricklamar.jpg"></li>
    <li><a href="#" class="ticketmaster-btn">Buy tickets</a></li>
  </ul>
</div>
