<ul class="navigation">
  <li class="navigation-item"><a href="#playlists">Playlists</a></li>
  <li class="navigation-item"><a href="#tickets">Tickets</a></li>
  <li class="navigation-item"><a href="#soundcloud">Soundcloud</a></li>
  <li class="navigation-item"><a href="#youtube">Youtube</a></li>
  <li class="navigation-item"><a href="#facebook">Facebook</a></li>
  <li class="navigation-item"><a href="#insta">Instagram</a></li>
</ul>
