<div id="soundcloud" class="soundcloud">
  <header class="padding soundcloud-header">
    <div class="soundcloud-header-p1">
      <img class="soundcloud-header-img" src="/images/profile-imgs/linernote/kendrick.jpg" alt="">
      <h2 class="soundcloud-header-title">Kendrick Lamar</h2>
    </div>
    <div class="soundcloud-header-p2">
      <p class="soundcloud-header-date">2 years ago -</p>
      <p class="soundcloud-header-views">123456 views</p>
    </div>
  </header>
  <h2 class="padding soundcloud-title">HUMBLE - Kendrick Lamar</h2>
  <img class="soundcloud-img" src="/images/profile-imgs/spotify/kendricklamar.jpeg" alt="soundcloud img">
</div>
