<head>
  <title>Linernote</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="./scripts/script.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
