<head>
  <title>Linernote</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js" defer></script>
  <!-- <script src="./scripts/script.js" defer></script> -->
  <script src="https://kit.fontawesome.com/2f361310f3.js"></script>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async defer src="http://platform.instagram.com/en_US/embeds.js"></script>
  <script async src="//www.instagram.com/embed.js"></script>
</head>
